* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: white;
    background-color: black;
}

h1 {
    font-size: 40pt;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    color: rgb(92, 190, 255);
}

#content {
    margin: 0 auto;
}

#main {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto 400px;
    align-items: start;
    justify-content: center;
}

#listGrid {
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 5px;
    background-color: rgb(54, 15, 32);
    border: .05em solid rgb(255, 54, 154);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    cursor: pointer;
    align-items: start;
}

#itemsGrid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40px 1fr;
    background-color: rgb(11, 47, 66);
    border: 1px solid rgb(16, 86, 107);
    /* border-top: 1px solid rgb(71, 136, 156);
    border-left: 1px solid rgb(71, 136, 156);
    border-bottom: 1px solid rgb(71, 136, 156); */
    border-radius: 10px;
}

.newList {
    display: grid;
    grid-column: 1 / 2;
    font-size: 14pt;
    font-weight: bold;
    height: 35px;
    background-color: rgb(26, 2, 16);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    align-self: center;
}

.newList:hover {
    color: rgb(255, 0, 149);
}

.newListInput {
    font-size: 14pt;
    height: 30px;
    padding-left: 5px;
    color: white;
    background-color: black;
    border: 2px solid rgb(255, 150, 241);;
    border-radius: 5px;
    align-self: center;
}

.newListInput:focus {
    outline: none;
}

.newListInputBtn {
    display: grid;
    grid-column: 2 / 3;
    font-size: 25px;
    vertical-align: middle;
    line-height: 0px;
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
    border: 2px solid rgb(255, 54, 154);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    outline: none;
}

.newListInputBtn:hover {
    color: rgb(255, 54, 154);
}

.newListInputCancelBtn {
    display: grid;
    grid-column: 3 / 4;
    font-size: 25px;
    vertical-align: middle;
    line-height: 0px;
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
    border: 2px solid rgb(255, 54, 154);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    outline: none;
}

.newListInputCancelBtn:hover {
    color: rgb(255, 54, 154);
}

button[class^="listEditBtn"] {
    display: grid;
    grid-column: 2 / 3;
    font-size: 25px;
    vertical-align: middle;
    line-height: 0px;
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
    border: 2px solid rgb(255, 54, 154);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    outline: none;
}

button[class^="listEditBtn"]:hover {
    color: rgb(255, 54, 154);
}

button[class^="listDeleteBtn"] {
    display: grid;
    grid-column: 3 / 4;
    font-size: 25px;
    vertical-align: middle;
    line-height: 0px;
    width: 25px;
    height: 25px;
    color:white;
    background-color: black;
    border: 2px solid rgb(255, 54, 154);
    align-self: center;
    justify-self: center;
    cursor: pointer;
    outline: none;
}

button[class^="listDeleteBtn"]:hover {
    color: rgb(255, 54, 154);
}

.currentList {
    font-size: 14pt;
    font-weight: bold;
    height: 35px;
    color: rgb(11, 218, 255);
    padding-top: 10px;
    outline-color: rgb(255, 54, 154);
}


.newItemButton {
    display: grid;
    grid-column: 1 / 2;
    width: 40px;
    height: 40px;
    font-size: 25pt;
    line-height: 0%;
    border: 2px solid rgb(54, 208, 255);
    color: white;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    /* align-self: center; */
    justify-self: start;
}

.newItem {
    display: grid;
    /* grid-row: 20px; */
    grid-column: 2 / 3;
    height: 50px;
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 2px;
    border-bottom: 2px solid rgb(9, 83, 105);
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

button[class^="itemCheck"] {
    display: grid;
    font-size: 20px;
    vertical-align: middle;
    line-height: 0px;
    width: 20px;
    height: 20px;
    grid-column: 1 / 2;
    /* padding: 10px; */
    color:white;
    background-color: black;
    border: 2px solid rgb(54, 208, 255);
    align-self: center;
    justify-self: center;
}

p[class^="list"] {
    display: grid;
    grid-column: 1 / 2;
    font-size: 14pt;
    font-weight: bold;
    height: 35px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(109, 20, 57);
}

p[class^="list"]:hover {
    color: rgb(255, 0, 149);
}
p[class^="item"] {
    display: grid;
    /* grid-row: 20px; */
    grid-column: 2 / 3;
    /* height: 50px; */
    padding-top: 10px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-left: 2px;
    border-bottom: 1px solid rgb(63, 166, 197);
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
}

p[class^="note"] {
    font-size: 10pt;
    color: rgb(255, 0, 149);
    align-self: end;
}